extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="/img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7    
                h1 #{pagina}
                
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut ultricies velit. Nam lorem purus, imperdiet vel libero vitae, sollicitudin hendrerit orci. Aliquam euismod risus vitae pulvinar dignissim. Proin convallis, lectus a vehicula condimentum, dolor ligula bibendum lacus, id dapibus lorem metus consectetur ante.

                p Mauris non vehicula felis. Sed mattis tempus eros eu pellentesque. Aenean et convallis quam. Curabitur leo ipsum, convallis maximus urna non, malesuada mollis leo. Quisque odio nisi, imperdiet quis ipsum non, aliquet pellentesque nibh. Quisque pharetra nec tellus non accumsan. Phasellus imperdiet fringilla enim quis condimentum.

                p Donec semper diam at ultrices sollicitudin. Donec accumsan augue quis semper hendrerit. Suspendisse mollis tortor ut nunc tempor facilisis. Sed mattis dapibus erat id luctus. Sed sed tincidunt mi, sit amet finibus diam. Aenean finibus, nisl quis ullamcorper bibendum, magna mi convallis sapien, vulputate pharetra ex tellus in sapien.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .cold-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Sed sed tincidunt mi, sit amet finibus diam. Aenean finibus, nisl quis ullamcorper bibendum, magna mi convallis sapien, vulputate pharetra ex tellus in sapien.

                .cold-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Sed sed tincidunt mi, sit amet finibus diam. Aenean finibus, nisl quis ullamcorper bibendum, magna mi convallis sapien, vulputate pharetra ex tellus in sapien.

                .cold-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Sed sed tincidunt mi, sit amet finibus diam. Aenean finibus, nisl quis ullamcorper bibendum, magna mi convallis sapien, vulputate pharetra ex tellus in sapien.              